<!-- <div class="categorys">
    <ul class="category-list">
        <li>
            <a href="#" class="category-link">All categories</a>
        </li>
    </ul>
</div> -->

<div class="wraper-category-desktop">
    <div class="categorys">
        <ul class="category-list">
            <li>
                <a href="#" class="category-link">All categories</a>
            </li>
        </ul>
    </div>
    <div class="category-desktop">
        <h1 class="title-category">Best Sellers <span class="title-acent">Books</span></h1>
        <div class="books-category">
        </div>
    </div>
</div>