<div class="logo-and-form">
    <div class="logo-footer">
      <a href="./index.html">
        <svg width="110" height="28">
          <use href="./img/icons.svg#icon-logo-foot"></use>
        </svg>
      </a>
    </div>
    <form class="footer-form" name="subscribe-form" autocomplete="off">
      <label class="subscribe-label" for="subscribe-mail">Get notified about new books</label>
      <div class="input-container">
        <input class="subscribe-input" type="email" id="subscribe-mail" name="subscribe-mail" placeholder="E-mail" />
        <button class="btn subscribe-btn" type="submit">Subscribe</button>
      </div>
    </form>
  </div>
  <p class="footer-rights">&#169; 2023 Bookshelf / All rights reserved</p>