<header class="header">
  <div class="header-container">
    <a class="header-logo" href="/src/index.html">
      <svg class="header_logo-icon" width="109" height="28">
        <use href="/src/img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <div class="nav-items">
            <a class="nav-link active-page" href="/src/index.html">HOME</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-items" id="nav-item-shopping-list">
            <a class="nav-link nav-link-shopping" href="/src/shopping-list.html"
              >SHOPPING LIST
              <svg class="nav-link-icon" width="20" height="20">
                <use href="/src/img/icons.svg#icon-lock"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
      <div class="toggle-switch">
        <div class="mobileWrap">
          <label class="switch dark-mode-btn-active" for="theme-switch">
            <input id="theme-switch" type="checkbox" />
            <span class="slider circle"></span>
          </label>
        </div>
        <!-- Log in-out -->
        <div class="sign-in-up-ig">
          <a class="sign-up" id="sign-up" href="#">
            Sign up
            <svg class="arrow-right" width="20" height="20">
              <use href="/src/img/icons.svg#icon-arrow-right"></use>
            </svg>
          </a>
          <!-- Log out -->
          <button class="menu-log-out-ig hidden-ig" type="button" name="logout">
            <span>Log out</span>
            <svg class="arrow-right" width="20" height="20">
              <use href="/src/img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
        <!-- Log in-out -->
      </div>
      <button
        class="js-open-menu"
        id="open-modal-mobile"
        aria-label="burger-menu"
      >
        <svg class="button-hamburger is-open" width="28" height="28">
          <use href="/src/img/icons.svg#icon-align-left"></use>
        </svg>
      </button>
    </nav>
  </div>

  <!-- Mobile Menu -->
  <div class="mobile-menu js-menu-container" id="modal-mobile">
    <div class="container-header">
      <a class="header-logo" href="/src/index.html">
        <svg class="header_logo-icon" width="109" height="28">
          <use href="/src/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="nav-menu">
        <div class="toggle-menu">
          <div class="mobileWrap-menu">
            <label
              class="switch-menu dark-mode-btn-active"
              for="theme-switch-menu"
            >
              <input id="theme-switch-menu" type="checkbox" />
              <span class="slider-menu circle-menu"></span>
            </label>
          </div>
        </div>
        <button class="menu-close close" id="close-modal-mobile" type="button">
          <svg class="menu-close-icon" width="28" height="28">
            <use href="/src/img/icons.svg#icon-x-close"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="mobile-menu_container">
      <ul class="mobile-menu_list">
        <li class="mobile-menu_item">
          <a class="mobile-menu_link" href="/src/index.html">HOME</a>
        </li>
        <li class="mobile-menu_item" id="mobile-item-shopping-list">
          <a class="mobile-menu_link" href="/src/shopping-list.html"
            >SHOPPING LIST
            <svg class="mobile-menu_icon" width="20" height="20">
              <use href="/src/img/icons.svg#icon-basket"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="mobile-menu_log-in">
      <button class="log-btn log-out hidden" type="button">
        <span>Log out</span>
        <svg class="arrow-right" width="20" height="20">
          <use href="/src/img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button
        class="log-btn log-in"
        data-action="open-modal-autorization"
        type="button"
      >
        <span>Log in</span>
        <svg class="arrow-right" width="20" height="20">
          <use href="/src/img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <img class="mobile-menu_img" src="/src/img/books-min.png" alt="books" />
  </div>
</header>
