<!-- Modal Window -->
<div class="modal-auth-overlay"></div>
<div class="modal-main modal-auth" data-modal>
  <button class="btn-modal-close" data-modal-close type="button">
    <svg class="modal-close-icon">
      <use href="./img/icons.svg#icon-x-close"></use>
    </svg>
  </button>
  <form class="modal-form">
    <label class="modal-field">
      <span class="modal-field-input">
        <input
          class="modal-input"
          type="text"
          name="name"
          minlength="2"
          maxlength="20"
          placeholder="name"
          autofocus
        />
        <svg
          class="modal-icon"
          width="28"
          height="28"
          style="stroke-width: 2px"
        >
          <use href="./img/icons.svg#icon-user"></use>
        </svg>
      </span>
    </label>
    <label class="modal-field">
      <span class="modal-field-input">
        <input
          class="modal-input"
          type="email"
          name="email"
          required
          minlength="6"
          maxlength="20"
          autocomplete="username"
          placeholder="email*"
          pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
          title="Invalid email address"
        />

        <svg class="modal-icon">
          <use href="./img/icons.svg#icon-mail"></use>
        </svg>
      </span>
    </label>
    <label class="visually-hidden">password</label>
    <div class="modal-field-input modal-field">
      <input
        class="modal-input"
        type="password"
        name="password"
        required
        minlength="6"
        maxlength="20"
        autocomplete="current-password"
        placeholder="password*"
        title="Require min 6 sign, which include at least 1 uppercase character, 1 lowercase character, and 1 number."
      />
      <!-- Eye -->
      <button
        class="toggle-password"
        id="toggle-password"
        type="button"
        aria-label="Show password as plain text. Warning: this will display your password on the screen."
      >
        <svg class="modal-password-eye" width="20" height="20">
          <use href="./img/icons-auth.svg#icon-eye-off"></use>
        </svg>
        <svg class="modal-password-eye off" width="20" height="20">
          <use href="./img/icons-auth.svg#icon-eye"></use>
        </svg>
      </button>
      <!-- Eye -->
      <svg class="modal-icon modal-icon-lock">
        <use href="./img/icons.svg#icon-lock"></use>
      </svg>
    </div>
    <button class="btn-modal-submit" type="submit">sign up</button>
    <div class="box-btn-modal-action">
      <button class="btn-modal-action" type="button" data-action="signup">
        sign up
      </button>
      <button class="btn-modal-action" type="button" data-action="signin">
        sign in
      </button>
    </div>
  </form>
</div>
