<div class="funds">
      <div class="support">
        <h2 class="funds-title">Support Ukraine</h2>
        <svg class="funds-icon" width="20" height="32">
          <use href="./img/icons.svg#icon-gerb"></use>
        </svg>
      </div>
      <div class="swiper">
        <ul class="swiper-wrapper"></ul>
        <button class="swiper-button-next">
          <svg width="20" height="20">
            <use
              class="swiper-button-next-icon"
              href="./img/icons.svg#icon-arrow-up"
            ></use>
          </svg>
        </button>
        <button class="swiper-button-up is-hidden">
          <svg width="20" height="20">
            <use
              class="swiper-button-up-icon"
              href="./img/icons.svg#icon-arrow-down"
            ></use>
          </svg>
        </button>
      </div>
</div>