p {
  padding: 0;
}
.category-desktop {
  max-width: 704px;
}
.desktop-container {
  margin-top: 104px;
}
.categorys {
  display: flex;
  gap: 20px;
  overflow-y: scroll;
  width: 307px;
  height: 228px;
  margin-top: 0;
}

.categorys::-webkit-scrollbar {
  width: 8px;
  height: 114px;
}

.categorys::-webkit-scrollbar-thumb {
  background: #000;
  width: 8px;
  height: 114px;
  border-radius: 12px;
  background: #e0e0e0;
}

.category-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.category-link {
  text-decoration: none;
  color: rgba(17, 17, 17, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.32px;
}

.category-link:hover,
.category-link:focus {
  color: #4f2ee8;
  text-transform: uppercase;
  font-family: 'DM Sans Bold';
}

.book-carts {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 335px;
  height: 535px;
}

.img-container {
  width: 335px;
  height: 486px;
  position: relative;
  overflow: hidden;
}
.img-container-top {
  width: 335px;
  height: 485px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.img-container-top .book-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 8px;
  background: lightgray -4.635px -16px / 102.522% 106.839% no-repeat;
}
.img-container .book-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 8px;
  background: lightgray -4.635px -16px / 102.522% 106.839% no-repeat;
}

.book-over {
  position: relative;
  overflow: hidden;
}

.book-over::before {
  z-index: 10;
  position: absolute;
  display: inline-block;
  content: "";
  width: 335px;
  height: 70px;
  border-radius: 0px 0px 8px 8px;
  background: #EAC645;
  opacity: 0;
  transform: translateY(300px);
  bottom: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.book-over-text {
  z-index: 10;
    position: absolute;
    color: #111;
      font-size: 14px;
      font-family: 'DM Sans Medium';
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: -0.56px;
      text-transform: uppercase;
    bottom: 0;
    padding-top: 20px;
    padding-left: 120px;
    padding-bottom: 20px;
    margin-top: 0;
    opacity: 0;
    transform: translateY(300px);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;

}


.book-card:hover .book-over-text,
.book-card:focus .book-over-text,
.book-card:hover .book-over::before,
.book-card:focus .book-over::before {
  opacity: 1;
  transform: translateY(0);
}
.title-category {
  color: #111;
  font-size: 32px;
  font-family: 'DM Sans Bold';
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.28px;
  margin-bottom: 40px;
}

.title-acent {
  color: #4f2ee8;
}

.book-title {
  color: #111;
  font-size: 16px;
  font-family: 'DM Sans Bold';
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 8px;
}

.book-author {
  color: #b4afaf;
  font-size: 12px;
  font-family: 'DM Sans Italic';
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
  padding-top: 4px;
}

.best-sellers-title {
  padding-bottom: 18px;
  word-wrap: break-word;
  width: 100%;
  color: #b4afaf;
  font-size: 14px;
  font-family: 'DM Sans Regular';
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.visible-hidden-title {
  padding-bottom: 18px;
  opacity: 0;
  font-size: 14px;
  font-family: 'DM Sans Regular';
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.books-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.category-item-list {
  position: relative;
  margin-bottom: 8px;
}
.see-more {
  display: flex;
 align-self: start;
  padding: 14px 28px;
  gap: 10px;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  color: #111;
  font-size: 14px;
  font-family: 'DM Sans Bold';
  font-style: normal;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  margin-left: 200px;
  transition: color 0.3s, background-color 0.3s;
}

.see-more:hover,
.see-more:focus {
  color: #fff;
  background-color: #4f2ee8;
}
.list-top-books {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

/* .best-sellers-own-category-list {
    height: 600px;
    overflow: hidden;
} */
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1439px) {
.categorys {
        display: flex;
        gap: 20px;
        overflow-y: scroll;
        width: 337px;
        height: 472px;

    }

  .category-desktop {
    margin: 100px auto 0 auto;
    max-width: 704px;
    
  }
  .desktop-container {
    margin-top: 112px;
  }

 .title-category {
     font-size: 48px;
 }
.book-over-text {
  padding-left: 65px;
}

 .books-category {
     display: flex;
     width: 704px;
     flex-wrap: wrap;
     flex-direction: row;
     margin-right: 0;
 }
  .category-link {
    font-size: 18px;
 }
  .img-container {
    width: 218px;
    height: 316px;
  }
  .img-container-top {
    width: 218px;
    height: 316px;
  }
  .category-item-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 20px;
  }
  .category-list {
    gap: 32px;
  }
  .best-sellers-wraper {
    width: 218px;
  }

   
  .list-top-books {
    row-gap: 40px;
    column-gap: 25px;
  }

  .book-carts {
    width: 218px;
    height: 366px;
  }

  .see-more {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .see-more:not(:last-child) {
    margin-bottom: 40px;
  }
}
/* .best-sellers-own-category-list {
    width: 704px;
    height: 340px;
    flex-wrap: wrap;
} */
/* desktop */
@media screen and (min-width: 1440px) {
  .container {
    padding: 40px 24px;
  }
 .desktop-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 72px;
 }

 .category-item-list {
  display: flex;
  gap: 24px;
 }
 
 .categorys {
  width: 356px;
  height: 472px;
 }
 .title-category {
  font-size: 48px;
  width: 996px;
 }
 .category-desktop {
  width: 996px;
 }
 .books-category {
  width: 996px;
 }
 

 .book-over-text {
   padding-left: 50px;
 }
 .book-carts {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 306px;
}
.list-top-books {
  row-gap: 40px;
  column-gap: 24px;
}
 .img-container {
  width: 180px;
  height: 256px;
 }
 .img-container-top {
  width: 180px;
  height: 256px;
 }
 .see-more {
  margin-left: auto;
 }

 
}