dark-mode{
        --main-accent-color: #4F2EE8;
            --secondary-accent-color: #EAC645;
            --main-color: #B4AFAF;
            ;
            --secondary-color: #FFF;
            ;
            --main-bg-color: #202024;
            ;
}
.slider{
    transform: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out,fill .3s ease-in-out, transform .3s ease-in-out;
}
.circle::before{
transition: color .3s ease-in-out,
    background-color .3s ease-in-out,
    border-color .3s ease-in-out,
    fill .3s ease-in-out,
    transform .3s ease-in-out;
}