.night {
    --main-accent-color: #4F2EE8;
    --secondary-accent-color: #EAC645;
    --main-color: #B4AFAF;
    --secondary-color: #202024;
    --main-bg-color: #fff;
    --header--: #111;
}

.night .slider {
    transform: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, fill .3s ease-in-out, transform .3s ease-in-out;
}

.night .category-link {
    color: var(--main-accent-color);
}

.night .circle::before {
    transition: color .3s ease-in-out,
        background-color .3s ease-in-out,
        border-color .3s ease-in-out,
        fill .3s ease-in-out,
        transform .3s ease-in-out;
}

.night .shop-cart-description {
    color: var(--main-bg-color);
}

body.night {
    background-color: var(--secondary-color);
}

.night .icon-close {
    stroke: var(--main-bg-color);
}

.night .shopping-list-title {
    color: var(--main-bg-color);
}

.night .empty-shopping-list-text {
    color: rgba(255, 255, 255, 0.60);
}

li.night,
a.night {
    color: var(--main-bg-color);
}

.night .book-title {
    color: var(--main-bg-color);
}

h1.night,
h3.night {
    color: var(--main-bg-color);
}

.night .nav-item {
    color: var(--main-bg-color);
}

.night .header .header-container {
    background-color: var(--header--);
    border: 1.5px solid var(--main-bg-color);
    border-radius: 0 0 8px 8px;
}

.night .category-link:hover,
.night .category-link:focus {
    color: var(--secondary-accent-color);
}

.night .shop-cart-btn:hover,
.night .shop-cart-btn:focus {
    color: var(--main-color);
}

.night .category-link {
    color: var(--main-bg-color);
}

.night .category-list::-webkit-scrollbar-thumb {
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, var(--main-bg-color) 18.03%, var(--main-bg-color) 100%);
}

.night .header_logo-icon {
    stroke: var(--main-bg-color);
}

.night .nav-link {
    color: var(--main-bg-color);
}

.night .header-container {
    color: var(--header--);
}

.night .shopping-list-container {
    color: var(--secondary-color);
}

.night .header-container {
    background: var(--header--);
}

.night .button-hamburger {
    stroke: var(--main-bg-color);
}

.night .nav-link-icon {
    border: var(--main-bg-color);
    fill: var(--main-bg-color);
}

.night .nav-item {
    color: var(--secondary-accent-color);
}


.night .header_logo-icon,
.night .modal-close-btn {
    fill: var(--main-bg-color);
}

.night .nav-item {
    color: var(--main-bg-color);
}

.night .shop-cart-title {
    color: var(--main-bg-color);
}

.night .modal-body {
    color: var(--secondary-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border: 2px solid #FFF;
}

.night .modal-body-add-btn {
    color: var(--main-bg-color);
    background-color: transparent;
}

.night .modal-body-text {
    color: var(--main-bg-color);
}


.night .amazon-icon {
    filter: invert(98%) sepia() saturate(0%) hue-rotate(105deg) brightness(103%) contrast(102%);
    fill: var(--main-bg-color);
}

.night .shop-cart-media:hover,
.night .shop-cart-media:focus {
    filter: invert(98%) sepia() saturate(0%) hue-rotate(105deg) brightness(103%) contrast(102%);
}

.night .loader {
    border: 10px solid rgba(234, 198, 69, .6);
    border-left-color: var(--secondary-accent-color);
}

.night .shop-cart-btn:hover {
    color: var(--main-bg-color);
}

.night .header-logo {
    color: var(--secondary-accent-color);
}

.night .container {
    color: var(--secondary-color);
}

.night .title-category {
    color: var(--main-bg-color);
}

.night.see_more {
    color: var(--main-bg-color);
}

.night.modal-backdrop {
    background-color: rgba(17, 17, 17, 0.40);
}

.night .title-secondary {
    color: var(--main-accent-color);
}

.night .category-link {
    color: var(--main-bg-color);
}

.night p:first-child {
    color: var(--main-bg-color);
}

.night .title-acent {
    color: var(--main-accent-color);
}

.night .see-more {
    color: var(--main-bg-color);
    background-color: var(--secondary-color);
}

.night .modal-close-icon {
    fill: var(--main-bg-color);
}

.night .modal-icon {
    stroke: var(--main-bg-color);
}

.night .modal-input {
    color: var(--main-bg-color);
}

.night .btn-modal-submit {
    background-color: var(--main-bg-color);
    color: var(--secondary-color);
}

.night .modal-auth {
    background-color: var(--secondary-color);
}

.night .btn-modal-action {
    background-color: transparent;
}

.night .btn-modal-action {
    color: var(--main-color);
}

.night .modal-icon:last-child {
    fill: var(--main-bg-color);
}

.night .nav-items:focus:not(.disabled-link),
.night .nav-item:hover .nav-items:not(.disabled-link) {
    background-color: var(--secondary-accent-color);
    border-radius: 36px;
}

.night .nav-items:focus:not(.disabled-link),
.night .nav-item:focus .nav-items:not(.disabled-link) {
    background-color: var(--secondary-accent-color);
    border-radius: 36px;
}

::placeholder {
    color: var(--main-bg-color);
}

.night .modal-body-title {
    color: var(--main-bg-color);
}

.night .modal-body-media-icon-amazon {
    filter: invert(98%)sepia()saturate(0%)hue-rotate(105deg)brightness(103%)contrast(102%);
}
.night.container-header {
    background-color: var(--header--);
}
.night .menu-close-icon{
    stroke: var(--main-bg-color);
}

.night .mobile-menu_link{
    color: var(--main-bg-color);
}