/* Header */
.hidden-ig {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


.header {

  /* margin: 0 auto; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  z-index: 4;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: inherit;
  /* height: 64px; */
  /* border: 1.5px solid #111; */
  /* border-radius: 0 0 8px 8px; */
  /* max-width: 375px; */
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
  /* Igor */
  margin: 0 auto;
  /* justify-content: center; */
  /* align-items: center; */
  /* z-index: 21; */
  position: relative;
  /* width: 100%; */
  /* background-color: #f6f6f6; */
  height: 64px;
  border: 1.5px solid #111;
  border-radius: 0 0 8px 8px;
  max-width: 375px;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nav */

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-items a {
  font-family: 'DM Sans Medium', sans-serif;
  display: flex;
  align-items: center;
  border-radius: 36px;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18/14);
  letter-spacing: -0.04em;
  padding: 8px 16px;
}

.nav-item .nav-items:not(.disabled-link) a:hover,
.nav-item .nav-items:not(.disabled-link) a:focus,
.nav-item .nav-items:not(.disabled-link) a.active-page {
  border-color: #eac645;
  background-color: #eac645;
  font-weight: 700;
  border: 1.5px solid transparent;
  border-radius: 36px;
  transition: border-color 0.3s, background-color 0.3s, font-weight 0.3s;
}

.nav-link-icon {
  margin-left: 8px;
}

.disabled-link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.4;
}

/* Button hamburger + Toggle */

.button-hamburger {
  background-color: transparent;
  line-height: 0;
  border: none;
  stroke: #111111;
}

.js-open-menu {
  stroke: #111;
  fill: #111111;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 28px;
}

.lock {
  position: fixed;
  height: 100vh;
  overflow-y: hidden;
}

.open-modal-mobile {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all ease 0.6s;
  border: 0;
  background: none;
  padding: 1rem 1rem 2rem 2rem;
}

.toggle-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg,
      rgba(220, 220, 220, 1) 0%,
      rgba(79, 46, 232, 1) 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 18px;
  bottom: 2px;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

input:checked+.slider {
  background: linear-gradient(180deg,
      rgba(104, 104, 104, 1) 0%,
      rgba(79, 46, 232, 1) 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:checked+.slider:before {
  transform: translateX(-16px);
}

.slider,
.circle {
  border-radius: 24px;
}

.circle::before {
  border-radius: 50%;
}

input:checked+.circle::before {
  background-color: #fff;
}

/* Sign up */

.arrow-right {
  stroke: #eac645;
}

.sign-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'DM Sans Medium', sans-serif;
  font-size: 14px;
  width: 184px;
  height: 48px;
  padding: 12px 14px;
  text-decoration: none;
  background: #4f2ee8;
  border: 1.5px solid #111111;
  border-radius: 18px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: #eac645;
}

.sign-up:hover,
.sign-up:focus {
  color: #eac645;
  border-color: #eac645;
}

/* -- Log out -- */
.sign-in-up-ig {
  margin-left: 24px;
  position: relative;
  display: inline-flex;
  /* margin-bottom: 0; */
}

.menu-log-out-ig {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 40;
  opacity: 1;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 184px;
  /* max-width: 184px; */
  /* width: 100%px; */
  height: 48px;
  padding: 14px 14px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18/14);
  letter-spacing: -0.04em;
  color: #111;

  background: var(--main-bg-color);
  ;
  border: 1.5px solid #111111;
  border-radius: 18px;

  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  stroke: #eac645;
}

.menu-log-out-ig:hover,
.menu-log-out-ig:focus {
  background-color: #f4eccf;
  border-color: #eac645;
}

/* -- Log out -- */

/* Mobile menu */

.container-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid #111111;
  border-radius: 0 0 8px 8px;
  padding: 0 20px;
  z-index: 21;
  position: relative;
  width: 100%;
  top: 0;
  background-color: #f6f6f6;
  max-width: 1440px;
  height: 64px;
  margin: 0 auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 14px;
}

.toggle-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px auto;
}

.switch-menu {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch-menu input {
  opacity: 0;
}

.slider-menu {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg,
      rgba(220, 220, 220, 1) 0%,
      rgba(79, 46, 232, 1) 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.slider-menu:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 18px;
  bottom: 2px;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

input:checked+.slider-menu {
  background: linear-gradient(180deg,
      rgba(104, 104, 104, 1) 0%,
      rgba(79, 46, 232, 1) 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:checked+.slider-menu:before {
  transform: translateX(-16px);
}

.slider-menu,
.circle-menu {
  border-radius: 24px;
}

.circle-menu::before {
  border-radius: 50%;
}

input:checked+.circle-menu::before {
  background-color: #fff;
}

.mobile-menu {
  display: none;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(183.6% 183.01% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #ffffff 100%);
}

.mobile-menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  flex-direction: column;
  margin: 0 auto;
}

.mobile-menu_list {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.mobile-menu_item {
  font-family: 'DM Sans Medium', sans-serif;
  display: flex;
  align-items: center;
  border-radius: 36px;
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.mobile-menu_link {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  fill: #fff;
}

.mobile-menu_link:hover,
.mobile-menu_link:focus,
.mobile-menu_link.active-page {
  border-color: #eac645;
  background-color: #eac645;
  font-weight: 700;
  border: 1.5px solid transparent;
  border-radius: 36px;
  transition: border-color 0.3s, background-color 0.3s, font-weight 0.3s;
}

/* .mobile-menu_link a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1.5px solid transparent;
  border-radius: 36px;
  transition: border-color 0.3s, background-color 0.3s, font-weight 0.3s;
  z-index: -1;
} */

/* .mobile-menu_link a:hover::before,
.mobile-menu_link a:focus::before {
  border-color: #eac645;
  background-color: #eac645;
} */

/* .mobile-menu_link a:hover,
.mobile-menu_link a:focus {
  font-weight: 700;
  border-color: #eac645;
  background-color: #eac645;
} */

.menu-close {
  stroke: #111;
  background-color: #0000;
  border: none;
  line-height: 0;
  padding: 0;
}

.mobile-menu_icon {
  margin-left: 4px;
}

.mobile-menu_img {
  position: absolute;
  width: 100%;
  top: 60%;
  left: 0%;
  z-index: -1;
  height: auto;
}

.mobile-menu_log-in {
  margin: 0 auto;
}

.log-btn {
  max-width: 118px;
  width: 100%;
  height: 48px;
  padding: 13px 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #fff;
  color: #111;
  font-size: 14px;
  font-family: 'DM Sans Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.56px;
  display: flex;
  gap: 4px;
  margin-left: 20px;
}

/*HIDDEN LOG_OUT BUTTON*/
.hidden {
  display: none;
}

/* Media queries */

@media screen and (max-width: 767px) {
  .js-open-menu {
    display: block;
  }

  .sign-up {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .nav-list {
    display: none;
  }

  .container-header {
    max-width: 375px;
    padding: 18px 20px;
    height: 64px;
  }

  .mobile-menu_log-in {
    max-width: 375px;
  }
}

/* Tablet and desktop styles */

@media screen and (min-width: 768px) and (max-width: 1439px) {
  /* .header {
    max-width: 768px;
    height: 72px;
  } */

  .header-container {
    max-width: 768px;
    height: 72px;
    padding: 14px 32px;
  }

  .js-open-menu {
    display: none;
  }

  .sign-up {
    /* margin-left: 24px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 184px;
    height: 45px;
    padding: 12px 14px;
    text-decoration: none;
    background: #4f2ee8;
    /* border: 1.5px solid #111111; */
    border-radius: 36px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: #ffffff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke: #eac645;
  }

  .mobile-menu {
    display: none;
  }

  .nav {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1440px) {
  /* .header {
    max-width: 1440px;
  } */

  .header-container {
    max-width: 1440px;
    height: 72px;
    padding: 14px 24px;
  }

  .js-open-menu {
    display: none;
  }

  .sign-up {
    /* margin-left: 24px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 184px;
    height: 45px;
    padding: 12px 14px;
    text-decoration: none;
    background: #4f2ee8;
    /* border: 1.5px solid #111111; */
    border-radius: 36px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: #ffffff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke: #eac645;
  }

  .nav-list {
    gap: 24px;
  }

  .nav {
    margin-left: 76px;
  }
}

/* menu smooth drop */

/* .mobile-menu {
  transform: translateY(0);
  transition: transform 1s linear;
}
.mobile-menu.hidden {
  transform: translateY(+100%);
} */