.modal-wrapper,
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-backdrop {
  z-index: 999;
  background-color: rgba(165, 42, 42, 0.848);
}

.modal-body {
  position: relative;
  margin: auto;
  width: 335px;
  padding: 40px 24px 40px 24px;
  border-radius: 18px;
  border: 2px solid black;
  background-color: white;
  z-index: 1000;
      overflow-y: hidden;
}

.modal-close-btn {
  position: absolute;
  top: 12;
  right: 12;
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
}

.icon-close {
  stroke: black;
}

.icon-close:hover,
.icon-close:focus {
  stroke: var(--main-accent-color);
}

.modal-body-media-icon-amazon:is(:hover, :focus) {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2)) saturate(0);
}

.modal-body-media-icon-apple:is(:hover, :focus) {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2)) saturate(0);
}
.modal-body-media-icon-shop:is(:hover, :focus) {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2)) saturate(0);
}

.modal-body-add-btn:is(:hover, :focus) {
  background-color: var(--main-accent-color);
  color: #fff;
}

.modal-body-image {
  margin-bottom: 14px;
  width: 287px;
}

.modal-body-title {
  color: #111;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  margin-bottom: 4px;
}

.modal-body-autor {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
  margin-bottom: 18px;
}

.modal-body-card {
  margin-bottom: 40px;
}

.modal-body-image-poster {
  border-radius: 8px;
}

.modal-body-text {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.modal-body-about-book {
  margin-bottom: 14px;
}

.modal-body-logo-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal-body-media-icon-apple {
  width: 32px;
  height: 32px;
}
.modal-body-media-icon-shop {
  width: 38px;
  height: 36px;
}

.modal-body-media-icon-amazon {
  width: 62px;
  height: 19px;
}

.modal-body-logo {
  margin-bottom: px;
}

.modal-body-container-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.modal-body-add-btn {
  border-radius: 40px;
  border: 2px solid #4f2ee8;

  display: inline-flex;
  padding: 14px 28px;
  align-items: flex-start;
  gap: 10px;

  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap;
}

.btn-remove {
  width: 279px;
  padding: 14px 23px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.modal-congrats-text {
  color: rgba(17, 17, 17, 0.5);
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.4px;
}

.btn-remove {
  margin-bottom: 8px;
}

.non-active-btn {
  background-color: #ddd8d8;
  border: 2px solid #2d2d2e;
  pointer-events: none;
  opacity: 0.4;
}

@media screen and (min-width: 768px) {
  .modal-body {
    width: 579px;
    padding: 40px;
  }

  .modal-close-btn {
    top: 24;
    right: 24;
  }

  .modal-body-card {
    display: flex;
    flex-wrap: wrap;
  }

  .modal-body-image {
    width: 192px;
    height: 281px;
    margin-bottom: 40px;
    display: flex;
  }

  .modal-body-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.96px;
    margin-bottom: 8px;
  }

  .modal-body-logo {
    display: flex;
  }

  .modal-body-autor {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.56px;
    margin-bottom: 20px;
  }

  .modal-body-about-book {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .modal-body-tablet {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    width: 279px;
  }

  .modal-body-add-btn {
    width: 499px;
    height: 64px;
    color: #111;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.18px;
    text-align: center;
    white-space: nowrap;
    transition: background-color 0.3s ease, color 0.3s ease;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

.overlay-modal-book {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 50;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
  transition: opacity 1000ms linear;
}
