.modal-wrapper,
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-backdrop {
  z-index: 999;
  background-color: rgba(165, 42, 42, 0.848);
}

.modal-body {
  position: relative;
  margin: auto;

  max-width: 335px;

  padding: 40px 24px 40px 24px;
  border-radius: 18px;
  border: 2px solid black;
  background-color: white;
  z-index: 1000;
}

.modal-close-btn {
  position: absolute;
  top: 12;
  right: 12;
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
}

.icon-close {
  stroke: black;
}

.modal-body-image {
  margin-bottom: 14px;
  width: 287px;
  height: 408px;
}

.modal-body-title {
  color: #111;
  font-size: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  margin-bottom: 4px;
}

.modal-body-autor {
  color: #b4afaf;
  font-size: 12px;
  font-family: DM Sans;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
  margin-bottom: 18px;
}

.modal-body-text {
  color: #111;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.modal-body-about-book {
  margin-bottom: 14px;
}

.modal-body-logo-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal-body-media-icon-apple {
  width: 32px;
  height: 32px;
}
.modal-body-media-icon-shop {
  width: 38px;
  height: 36px;
}

.modal-body-media-icon-amazon {
  width: 62px;
  height: 19px;
}

.modal-body-logo {
  margin-bottom: 40px;
}

.modal-body-container-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.modal-body-add-btn {
  border-radius: 40px;
  border: 2px solid #4f2ee8;

  display: inline-flex;
  padding: 14px 28px;
  align-items: flex-start;
  gap: 10px;

  color: #111;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  background-color: transparent;
}

.modal-congrats-text {
  color: rgba(17, 17, 17, 0.5);
  text-align: center;
  font-size: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.4px;
}

.btn-remove {
  margin-bottom: 8px;
}
