/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* .overlay {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 50;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 1000ms linear;
  overflow-y: auto;
} */

.modal.active {
  opacity: 1;
  scale: 1;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  transition: scale 500ms linear, opacity 500ms linear;
  scale: 0.4;
  opacity: 0;
}
