.go-top {
  position: fixed;
  right: 25px;
  bottom: 145px;
  cursor: pointer;
  display: none;
  transform: rotate(180deg);
  width: 54px;
  height: 54px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--main-accent-color);
  border: 5px solid rgba(27, 179, 234, 0.919);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* transition: background-color var(--transition-speed); */
  z-index: 40;
}

.go-top-icon {
  width: 24px;
  height: 24px;
  fill: var(--main-bg-color);
}

.go-top-show {
  display: flex;
  justify-content: center;
  align-items: center;
}
