.sheave {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}

@media screen and (min-width: 1440px){
    .sheave {
        flex-direction: column;
        gap: 86px;
        }
}
